* {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
    padding: 24px;
  }
  .sidebar .logo img {
    width: 130px;
  }
  .sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
  }
  .sidebar .navigation ul li {
    padding: 10px 0px;
  }
  .sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
  }
  .sidebar .navigation ul li a:hover,
  .sidebar .navigation ul li a:active,
  .sidebar .navigation ul li a:focus {
    color: #ffffff;
  }
  .sidebar .navigation ul li a:hover .fa,
  .sidebar .navigation ul li a:active .fa,
  .sidebar .navigation ul li a:focus .fa {
    color: #b3b3b3;
  }
  .sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
  }
  .sidebar .navigation ul li a:hover .fa:hover,
  .sidebar .navigation ul li a:hover .fa:active,
  .sidebar .navigation ul li a:hover .fa:focus {
    color: #ffffff;
  }
  .sidebar .policies {
    position: absolute;
    bottom: 100px;
  }
  .sidebar .policies .no-preview {
    position: relative;
    bottom: -75px;
  }
  .sidebar .policies ul {
    list-style: none;
  }
  .sidebar .policies ul li {
    padding-bottom: 5px;
  }
  .sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
  }
  .sidebar .policies ul li a:hover,
  .sidebar .policies ul li a:active,
  .sidebar .policies ul li a:focus {
    text-decoration: underline;
  }
  
  .main-container {
    margin-left: 245px;
    margin-bottom: 100px;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 14px 30px;
  }
  .topbar .prev-next-buttons button {
    color: #7a7a7a;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
  }
  .topbar .navbar {
    display: flex;
    align-items: center;
  }
  .topbar .navbar .login-button button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
  }
  .topbar .navbar .user-button button {
    background-color: rgba(0,0,0,.7);
    color: #fff;
    font-size:14px;
    font-weight: bold;
    padding: 2px;
    border: 0;
    border-radius: 23px;
    display: flex;   
    cursor: pointer;
    height: 32px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topbar .navbar .user-button button .user-profile-picture {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    padding: 6px;
  }
  .topbar .navbar .user-button button .arrow {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    padding: 6px;
  }
  .spotify-playlists {
    padding: 20px 40px;
  }
  .spotify-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .spotify-playlists p {
    color: #b3b3b3;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .spotify-playlists .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
    flex-wrap: wrap;
  }
 .spotify-headers {
    padding: 20px 40px;
  }
  .spotify-headers h2 {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .spotify-headers p {
    color: #b3b3b3;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .spotify-headers .list {
    display: flex;
    gap: 24px;
    /* height: 80px; */
    overflow: hidden;
    flex-wrap: wrap;
  }
  button[type='submit'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left
  }
  input {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #7a7a7a;
    cursor: pointer;
    transition: 0.2s all linear;
    position: relative;
    left: 150px;
    bottom: 6px;
  }
  input:checked {
    border: 6px solid #1DB954;
  }


  .spotify-headers .list .item {
    min-width: 270px;
    width: 160px;
    height: 80px;
    position: relative;
    background-color: hsla(0,0%,100%,.1);
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .spotify-headers .list .item:hover {
    background-color: hsla(0,0%,100%,.2);
  }
  .spotify-headers .list .item img {
    width: 80px;
    height: 80px;
    border-radius: 4px 0px 0px 4px;
  }
  .spotify-headers .list .item .play {
    position: relative;
  }
  .spotify-headers .list .item .play .fa {
    position: absolute;
    right: -175px;
    top: -70px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;  
    opacity: 0;
    transition: all ease 0.4s;
  }
  .spotify-headers .list .item:hover .play .fa {
    opacity: 1;
  }
  .spotify-headers .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    display: inline;
    top: 50%;
    margin-left: 12px;
    transform: translate(0, -50%)
  }
  .spotify-headers .list .item a {
    text-decoration: none;
  }


  .spotify-playlists .list .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.2s;
  }
  .spotify-playlists .list .item:hover {
    background-color: #252525;
  }
  .spotify-playlists .list .item img {
    width: 100%;
    height: 150px;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  .spotify-playlists .list .item .play {
    position: relative;
  }
  .spotify-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -50px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;  
    opacity: 0;
    transition: all ease 0.4s;
  }
  .spotify-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
  }
  .spotify-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .spotify-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }
  .spotify-playlists .list .item .grad1 {
    background-image: linear-gradient(to right, rgb(236, 188, 36), #896afb);
    width: 100%;
    height: 150px;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  .spotify-playlists .list .item .grad2 {
    background-image: linear-gradient(to right, #d8f3dc, #081c15);
    width: 100%;
    height: 150px;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  .spotify-playlists .list .item a {
    text-decoration: none;
  }
  .spotify-playlists .list .item-predict
  {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #1DB954;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .spotify-playlists .list .item-predict button h2
  {
    color: #ffffff;
    font-size: 22px;
  }
  .spotify-playlists .list form
  {
    display: inline-flex;
    gap: 20px;
  }
  .spotify-playlists .list form .item-predict 
  {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #1DB954;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .spotify-playlists hr 
  {
    margin: 70px 0px 0px;
    border-color: #636363;
  }

  .spotify-top {
    padding: 20px 40px;
  }
  .spotify-top h2 {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .spotify-top p {
    color: #b3b3b3;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .spotify-top .list {
    display: flex;
    gap: 24px;  
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
  .spotify-top .list .item {
    height:100%;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.2s;
  }
  .spotify-top .list .item:hover {
    opacity: 0.5;
  }
  .spotify-top .list .item img {
    width: 100%;
    height: 150px;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  .spotify-top .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .spotify-top .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }
  .spotify-top .list .item a {
    text-decoration: none;
  }
  
  footer {
    padding: 20px 40px;
  }
  footer p {
    color: #b3b3b3;
    font-size: 14px;
  }
  .preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
  }
  .preview h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
  }
  .preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
  }