<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Spotify Clone</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>
    <div class="sidebar">
      <div class="logo">
        <a href="#">
          <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Logo" />
        </a>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="{{ url_for('dashboard') }}">
              <span class="fa fa-home"></span>
              <span>Home</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="fa fa-search"></span>
              <span>About</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="fa fas fa-book"></span>
              <span>Repository</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="fa fas fa-plus-square"></span>
              <span>My Portfolio</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="fa fas fa-heart"></span>
              <span>Say Hi on LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="policies">
        <div class="no-preview">
        <ul>
          <li>
            <a href="#">Legal</a>
          </li>
          <li>
            <a href="https://developer.spotify.com/">Not Affiliated with Spoitfy</a>
          </li>
        </ul>
      </div>
      </div>
    </div>

    <div class="main-container">
      <div class="topbar">
        <div class="prev-next-buttons">
          <button type="button" class="fa fas fa-chevron-left" style="cursor: not-allowed"></button>
          <button type="button" class="fa fas fa-chevron-right" onclick="next()"></button>
        </div>

        <div class="navbar">
			<div class="user-button">
				<button type="button">
          <img class="user-profile-picture" src="{{user['images'][0]['url']}}" />{{user['display_name']}}
          <img class="arrow" src="https://cdn-icons-png.flaticon.com/512/60/60995.png" style="filter: invert(1);" />
        </button>
			</div>
        </div>
      </div>

      <div class="spotify-headers">
        <h2>About</h2>
        <p>Hi there, {{user['display_name']}}!</p>

      </div>

      <div class="spotify-playlists">
        <h2>Header one</h2>
        <p>Testing one two three...</p>
        <hr>
      </div>

      <footer>
        <p>Made with ☕ by Matthew Lim California, US.</p>
      </footer>

    <script
      src="https://kit.fontawesome.com/23cecef777.js"
      crossorigin="anonymous"
    ></script>

    <script src="/static/js/script.js"></script>

  </body>
</html>