<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Music Mate</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>
    <div class="sidebar">
      <div class="logo">
        <a href="{{ url_for('dashboard') }}">
          <img src="/static/logo.png" alt="Logo" />
        </a>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="{{ url_for('dashboard') }}">
              <span class="fa fa-home"></span>
              <span>Home</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('about') }}">
              <span class="fa fa-search"></span>
              <span>About</span>
            </a>
          </li>

          <li>
            <a href="https://github.com/MjlDoesGitHub/musicmate" target="_blank">
              <span class="fa fas fa-book"></span>
              <span>Repository</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="fa fas fa-plus-square"></span>
              <span>My Portfolio</span>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/matthewjlim25/" target="_blank">
              <span class="fa fas fa-heart"></span>
              <span>Say Hi on LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="policies">
        <div class="no-preview">
        <ul>
          <li>
            <a href="#">Legal</a>
          </li>
          <li>
            <a href="https://developer.spotify.com/">Not Affiliated with Spoitfy</a>
          </li>
        </ul>
      </div>
      </div>
    </div>

    <div class="main-container">
      <div class="topbar">
        <div class="prev-next-buttons">
          <button type="button" class="fa fas fa-chevron-left" style="cursor: not-allowed"></button>
          <button type="button" class="fa fas fa-chevron-right" onclick="next()"></button>
        </div>

        <div class="navbar">
			<div class="user-button">
				<button type="button">
          <img class="user-profile-picture" src="{{user['images'][0]['url']}}" />{{user['display_name']}}
          <img class="arrow" src="https://cdn-icons-png.flaticon.com/512/60/60995.png" style="filter: invert(1);" />
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
			</div>
        </div>
      </div>

      <div class="spotify-headers">
        <h2>Your Insights</h2>

        <div class="list">

          <form action="{{ url_for('topartists') }}" method="GET" onsubmit="pausePlay(this.id)" id='topartists'>
            <div class="item">
              <button type="submit">
                <img src="{{top_artist_picture}}" />
                <h4>Top Artists</h4>
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
              </button>
            </div>
          </form>

          <form action="{{ url_for('toptracks') }}" method="GET" onsubmit="pausePlay(this.id)" id='toptracks'>
            <div class="item">
              <button type="submit">
                <img src="{{top_track_picture}}" />
                <h4>Top Tracks</h4>
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
              </button>
            </div>
          </form>

          <div class="item" style="background-image: linear-gradient(45deg, rgb(236, 188, 36), rgb(236, 188, 36)); cursor: default;">
            <h4 id="happy_metric" style="font-size: 56px; color: rgb(244, 217, 132); margin-left: 50%;"></h4><h4 style="color: #ffffff;">Happy</h4>
          </div>

          <div class="item" style="background-image: linear-gradient(45deg, rgb(235, 42, 5), rgb(235, 42, 5)); cursor: default;">
            <h4 id="energy_metric" style="font-size: 56px; color: rgb(252, 236, 135); margin-left: 50%;">{{energy_percent}}</h4><h4 style="color: #ffffff;">Energy</h4>
          </div>

          <div class="item" style="background-image: linear-gradient(45deg, rgb(210, 88, 85), rgb(210, 88, 85)); cursor: default;">
            <h4 id="danceable_metric" style="font-size: 56px; color: rgb(249, 236, 235); margin-left: 50%;">{{danceable_percent}}</h4><h4 style="color: #ffffff;">Danceable</h4>
          </div>
          <!-- Increment Animation Script Source: https://www.codingartistweb.com -->
          <script>
            function countTo(metric, id){
                let from = 0;
                let to = metric;
                let step = to > from ? 1 : -1;
                let interval = 50;

                if(from == to){
                    document.querySelector(id).textContent = from + '%';
                    return;
                }

                let counter = setInterval(function(){
                    from += step;
                    document.querySelector(id).textContent = from + '%';

                    if(from == to){
                        clearInterval(counter);
                    }
                }, interval);
            }
            countTo('{{happy_percent}}', "#happy_metric");
            countTo('{{energy_percent}}', "#energy_metric");
            countTo('{{danceable_percent}}', "#danceable_metric");
          </script>
        </div>
      </div>

      <div class="spotify-playlists">
        <h2>Compare and Contrast</h2>
        <div class="list">
          <form action="{{ url_for('happyvsad') }}" method="GET" onsubmit="pausePlay(this.id)" id='happyvsad'>
            <div class="item">
              <button type="submit">
                <div class="grad1"></div>
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Happy versus Sad</h4>
                <p>Separate the positive tracks from the negative and vice-versa...</p>
              </button>
            </div>
          </form>

          <!-- <form action="{{ url_for('login') }}" method="GET">
            <div class="button">
              <button type="submit">Log in free</button>
            </div>
           </form> -->

          <div class="item">
          </div>

          <div class="item">
          </div>

          <div class="item">
          </div>

          <div class="item">
          </div>
        </div>
      </div>

      <div class="spotify-playlists">
        <h2>Recommender</h2>
        <div class="list">
          <form action="#" method="GET" onsubmit="pausePlay(this.id)" id='#'>
            <div class="item">
              <button type="submit">
                <div class="grad2"></div>
                <div class="play">
                  <span class="fa fa-play"></span>
                </div>
                <h4>Coming soon.</h4>
                <p>Coming soon coming soon coming soon...</p>
              </button>
            </div>
          </form>

          <div class="item">
          </div>

          <div class="item">
          </div>

          <div class="item">
          </div>

          <div class="item">
          </div>
  
        </div>

        <hr>
      </div>

      <footer>
        <p>Made with ☕ by Matthew Lim California, US.</p>
      </footer>

    <script
      src="https://kit.fontawesome.com/23cecef777.js"
      crossorigin="anonymous"
    ></script>

    <script src="/static/js/script.js"></script>

  </body>
</html>