<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Music Mate</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>
    <div class="sidebar">
      <div class="logo">
        <a href="{{ url_for('dashboard') }}">
          <img src="/static/logo.png" alt="Logo" />
        </a>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="{{ url_for('dashboard') }}">
              <span class="fa fa-home"></span>
              <span>Home</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('about') }}">
              <span class="fa fa-search"></span>
              <span>About</span>
            </a>
          </li>

          <li>
            <a href="https://github.com/MjlDoesGitHub/musicmate" target="_blank">
              <span class="fa fas fa-book"></span>
              <span>Repository</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="fa fas fa-plus-square"></span>
              <span>My Portfolio</span>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/matthewjlim25/" target="_blank">
              <span class="fa fas fa-heart"></span>
              <span>Say Hi on LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="policies">
        <div class="no-preview">
        <ul>
          <li>
            <a href="#">Legal</a>
          </li>
          <li>
            <a href="https://developer.spotify.com/">Not Affiliated with Spoitfy</a>
          </li>
        </ul>
      </div>
      </div>
    </div>

  <div class="main-container">
    <div class="topbar">
      <div class="prev-next-buttons">
        <button type="button" class="fa fas fa-chevron-left" onclick="previous()"></button>
        <button type="button" class="fa fas fa-chevron-right" style="cursor: not-allowed"></button>
      </div>

      <div class="navbar">
        <div class="user-button">
          <button type="button">
            {% if user['images'] and user['images']|length > 0 %}
              <img class="user-profile-picture" src="{{ user['images'][0]['url'] }}" />
            {% else %}
              <img class="user-profile-picture" src="default-profile-picture.png" /> <!-- Use a default image if necessary -->
            {% endif %}
            {{ user['display_name'] }}
            <img class="arrow" src="https://cdn-icons-png.flaticon.com/512/60/60995.png" style="filter: invert(1);" />
          </button>
        </div>        
      </div>
    </div>

    <div class="spotify-playlists">
      <!-- Modify the title to include the playlist name dynamically -->
      <h2>Happy versus Sad: {{ playlist_name }}</h2>
  
      <div class="list">
          <!-- Happy Tracks -->
          {% for row in rows[0] %}
          <label class="item" style="border: 6px solid #fc5c7d; width: 154px">
              <img src="{{ row['track_image_url'] }}" />
              <div class="play">
                  <span class="fa fa-play" id="play-button"></span>
              </div>
              <h4>{{ row['track_name'] }}</h4>
              <p>{{ row['artist'] }}</p>
          </label>
          {% endfor %}
  
          <!-- Sad Tracks -->
          {% for row in rows[1] %}
          <label class="item" style="border: 6px solid #6a82fb; width: 154px">
              <img src="{{ row['track_image_url'] }}" />
              <div class="play">
                  <span class="fa fa-play" id="play-button" onclick="preview()"></span>
              </div>
              <h4>{{ row['track_name'] }}</h4>
              <p>{{ row['artist'] }}</p>
          </label>
          {% endfor %}
  
          <form action="{{ url_for('savePlaylist') }}" method="POST">
            <label class="item-predict">
                <button type="submit" name="save_button" value='{{ {"data": rows[0], "type": "Happy", "playlist_name": playlist_name} | tojson | safe }}'>
                    <h2>Generate New <span style="color:#fc5c7d">Happy</span> Playlist</h2>
                </button>
            </label>
        
            <label class="item-predict">
                <button type="submit" name="save_button" value='{{ {"data": rows[1], "type": "Sad", "playlist_name": playlist_name} | tojson | safe }}'>
                    <h2>Generate New <span style="color:#6a82fb">Sad</span> Playlist</h2>
                </button>
            </label>
        </form>
        
        
      </div>
  </div>
  
    <footer>
      <p>Made with ☕ by Matthew Lim California, US.</p>
    </footer>

    <script src="https://kit.fontawesome.com/23cecef777.js" crossorigin="anonymous"></script>

    <script src="/static/js/script.js"></script>

</body>

</html>
