<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Spotify Clone</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>
    <div class="sidebar">
      <div class="logo">
        <a href="#">
          <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Logo" />
        </a>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="{{ url_for('dashboard') }}">
              <span class="fa fa-home"></span>
              <span>Home</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="fa fa-search"></span>
              <span>About</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="fa fas fa-book"></span>
              <span>Repository</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="fa fas fa-plus-square"></span>
              <span>My Portfolio</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="fa fas fa-heart"></span>
              <span>Say Hi on LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="policies">
        <div class="no-preview">
        <ul>
          <li>
            <a href="#">Legal</a>
          </li>
          <li>
            <a href="https://developer.spotify.com/">Not Affiliated with Spoitfy</a>
          </li>
        </ul>
      </div>
      </div>
    </div>

    <div class="main-container">
      <div class="topbar">
        <div class="prev-next-buttons">
          <button type="button" class="fa fas fa-chevron-left" onclick="previous()"></button>
          <button type="button" class="fa fas fa-chevron-right" onclick="next()"></button>
        </div>

        <div class="navbar">
			<div class="user-button">
				<button type="button">
          <img class="user-profile-picture" src="{{user['images'][0]['url']}}" />{{user['display_name']}}
          <img class="arrow" src="https://cdn-icons-png.flaticon.com/512/60/60995.png" style="filter: invert(1);" />
        </button>
			</div>
        </div>
      </div>

      <div class="spotify-top">
        <h2>Top Tracks</h2>
        <p>Here are the top 3 tracks that dominate your listening recently...</p>

        <div class="list">
        {% for row in rows[0][1:2] %}
        <label class="item" style="width:250px;background-color:#606060">
          <a href="{{row[4]}}" target="_blank">
          <img src="{{row[3]}}" style="height:250px" />
          <h2 style="font-size:24px">2. {{row[2]}} by {{row[0]}}</h2>
          <h4>{{row[1]}}</h4>
          </a>
        </label>
        {% endfor %}
        {% for row in rows[0][0:1] %}
        <label class="item" style="width:350px;background-color:#6e5a18">
          <a href="{{row[4]}}" target="_blank">
          <img src="{{row[3]}}" style="height:350px" />
          <h2>1. {{row[2]}} by {{row[0]}}</h2>
          <h4>{{row[1]}}</h4>
          </a>
        </label>
        {% endfor %}
        {% for row in rows[0][2:3] %}
        <label class="item" style="width:150px;background-color:#4f3d1a">
          <a href="{{row[4]}}" target="_blank">
          <img src="{{row[3]}}" style="height:150px" />
          <h2 style="font-size:16px">3. {{row[2]}} by {{row[0]}}</h2>
          <h4>{{row[1]}}</h4>
          </a>
        </label>
        {% endfor %}
        </div>

      </div>

      <div class="spotify-playlists">
        <h2>Other Favorites</h2>
        <p>Don't forget these tracks you've been listening to...</p>

        <div class="list">

          <!-- Key
        rows[0] = Track dataframe
        row[4] = track_features
        row[3] = track_image_url
        row[2] = track_name
        row[1] = album
        row[0] = artist -->
        {% for row in rows[0][3:] %}
        <label class="item">
          <a href="{{row[7]}}" target="_blank">
          <img src="{{row[3]}}" />
          <h4>{{row[2]}} by {{row[0]}}</h4>
          <p>{{row[1]}}</p>
          </a>
        </label>
        {% endfor %}
      </div>

      <hr>
      </div>

      <footer>
        <p>Made with ☕ by Matthew Lim California, US.</p>
      </footer>

    <script
      src="https://kit.fontawesome.com/23cecef777.js"
      crossorigin="anonymous"
    ></script>

    <script src="/static/js/script.js"></script>

  </body>
</html>